BRAPI_API_KEY=brapi_api_key

SMTP_HOST=smtp_host
SMTP_PORT=587
SMTP_USER=smtp_user
SMTP_PASSWORD=smtp_password
SMTP_SENDER=smtp_sender

ALERT_TO=alert_to_email
CHECK_INTERVAL_SECONDS= defaults to 300
MAX_BUCKETS= defaults to 10
LOG_LEVEL= defaults to Info (Debug, Info, Error)
