BRAPI_API_KEY="brapi_api_key"

SMTP_PASSWORD=smtp_password
SMTP_USER=smtp_user
SMTP_SENDER=smtp_sender
SMTP_PORT=smtp_port
SMTP_HOST=smtp_host

TICKER=ticker
ALERT_TO=alert_to_email
HIGH_PRICE=high_price
LOW_PRICE=low_price
CHECK_INTERVAL_SECONDS=300
